{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="contain-login">

    <h1>Inicio de Sesión Coti Aluminios</h1>
    <form action="{% url 'login' %}" method="POST">{% csrf_token %}
        <label for="inputUser5" class="form-label">Usuario</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input name="username" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1"
                id="inputUser5">
        </div>
        <label for="inputPassword5" class="form-label">Password</label>
        <input name="password" type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
            Su contraseña debe tener entre 8 y 20 caracteres, contener letras y números, y no debe contener espacios,
            especiales
            personajes o emoji.
        </div>

        <button type="submit" class="btn btn-outline-primary">Iniciar sesión</button>
    </form>
    <button type="button" class="btn btn-outline-primary">Olvidé mi contraseña</button>
</div>
{% endblock content %}