{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="contain-elements-window">
  <h1>Usuarios</h1>
  <div class="list-elements-window">
    <div class="contain-table">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">username</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">E-mail</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% if users %}
          {% for userm in users %}
          <tr>
            <td colspan="1">{{userm.id}}</td>
            <td colspan="1">{{userm.username}}</td>
            <td colspan="1">{{userm.first_name}}</td>
            <td colspan="1">{{userm.last_name}}</td>
            <td colspan="1">{{userm.email}}</td>
            <td colspan="1">
              {% if user.is_staff or user.username == userm.username %}
              <i class='bx bx-pencil'></i>
              {% endif %}
            </td>
            <td colspan="1">
              {% if user.is_staff and user.username != userm.username %}
              <a href="{% url 'userdelete' userm.pk %}">
                <i class='bx bx-trash'></i>
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr><h1>Sin informacion de los usuarios.</h1></tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Agregar Usuario</button>
  </div>
  <div class="btn-add-element-window">
  </div>
</div>

<!-- Modal add user -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
      </div>
      <form method="post" action="{% url 'usercreate' %}">
        {% csrf_token %}
      <div class="modal-body">
        <div class="form-group">
          <label for="element-name" class="col-form-label">Nombre de Usuario</label>
          <input name="username" type="text" class="form-control" id="element-name">
        </div>
          <div class="form-group">
            <label for="element-name" class="col-form-label">Nombres</label>
            <input name="firstname" type="text" class="form-control" id="element-name">
          </div>
          <div class="form-group">
            <label for="element-name" class="col-form-label">Apllidos</label>
            <input name="lastname" type="text" class="form-control" id="element-name">
          </div>
          <div class="form-group">
            <label for="element-name" class="col-form-label">E-mail</label>
            <input name="email" type="text" class="form-control" id="element-name">
          </div>
          <div class="form-group">
            <label for="element-price" class="col-form-label">Contraseña</label>
            <input name="password" type="password" class="form-control" id="element-price">
          </div>
          <div class="form-group">
            <label for="element-price" class="col-form-label">Confirmar Contraseña</label>
            <input name="passwordconfirm" type="password" class="form-control" id="element-price">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Usuario</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}