{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="contain-elements-window">
  <h1>Acabados en Aluminio</h1>
  <div class="list-elements-window">
    <div class="contain-table">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% if aluminum_finishes %}
          {% for aluminum in aluminum_finishes %}
          <tr>
            <td colspan="1">{{aluminum.id}}</td>
            <td colspan="1">{{aluminum.name}}</td>
            <td colspan="1">{{aluminum.price}}</td>
            <td colspan="1"><i class='bx bx-pencil'></i></td>
            <td colspan="1"><i class='bx bx-trash'></i></td>
          </tr>
          {% endfor %}
          {% else %}
          <tr><h1>Sin informacion de acabados en aluminio.</h1></tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary">Agregar aluminio</button>
  </div>
  <div class="btn-add-element-window">
  </div>
</div>

{% endblock content %}