{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="contain-elements-window">
  <h1>Acabados en Aluminio</h1>
  <div class="list-elements-window">
    <div class="contain-table">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% if aluminum_finishes %}
          {% for aluminum in aluminum_finishes %}
          <tr>
            <td colspan="1">{{aluminum.id}}</td>
            <td colspan="1">{{aluminum.name}}</td>
            <td colspan="1">$ {{aluminum.price}}</td>
            <td colspan="1"><i class='bx bx-pencil'></i></td>
            <td colspan="1"><i class='bx bx-trash'></i></td>
          </tr>
          {% endfor %}
          {% else %}
          <tr><h1>Sin informacion de acabados en aluminio.</h1></tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Agregar aluminio</button>
  </div>
  <div class="btn-add-element-window">
  </div>
</div>

<!-- Modal add aluminum finishes -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Acabado en Aluminio</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="element-name" class="col-form-label">Nombre</label>
            <input type="text" class="form-control" id="element-name">
          </div>
          <div class="form-group">
            <label for="element-price" class="col-form-label">Precio</label>
            <input type="text" class="form-control" id="element-price">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar acabado en aluminio</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}