{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="contain-elements-window">
  <h1>Estilos de Ventana</h1>
  <div class="list-elements-window">
    <div class="contain-table">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            {% if user.is_staff %}
            <th scope="col"></th>
            <th scope="col"></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% if styles_window %}
          {% for style in styles_window %}
          <tr>
            <td colspan="1">{{style.id}}</td>
            <td colspan="1">{{style.name}}</td>
            <td colspan="1">$ {{style.price}}</td>
            {% if user.is_staff %}
            <td colspan="1"><a href="{% url 'windowstylesdelete' style.pk %}"><i class='bx bx-pencil'></i></a></td>
            <td colspan="1"><a href="{% url 'windowstylesdelete' style.pk %}"><i class='bx bx-trash'></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <h1>Sin informacion de estilos de ventana.</h1>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
      data-whatever="@getbootstrap">Agregar estilo de ventana</button>
  </div>
</div>

<!-- Modal add style window -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Estilo</h5>
      </div>
      <form method="post" action="{% url 'windowstylescreate' %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="element-name" class="col-form-label">Nombre</label>
            <input name="name" type="text" class="form-control" id="element-name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar estilo</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}