.principal-contain-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.list-items-quote {
    border: rgb(187, 179, 179) 1px solid;
    width: 90%;
    height: 75vh;
    padding: 16px;
    border-radius: 16px;
}

.list-items-quote h4 {
    text-align: center;
}

.contain-title-form {
    text-align: center;
    height: 3vh;
    margin-top: 2vh;
}

.content-form-price {
    width: 70%;
    height: 65vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
}

button {
    width: 100% !important;
    margin-top: 3vh !important;
}

.dimensions-window {
    display: flex;
    grid-template-columns: space-between;
}

.header-options {
    font-size: 16px;
}

.nav-item-mod:hover {
    pointer-events: none;
}  

.welcome {
    width: 20%;
    position: absolute;
    display: block;
    padding: 0.5rem 1rem;
    margin-left: 24%;
    text-align: right;
}