.contain-title-form {
    text-align: center;
    height: 3vh;
    margin-top: 2vh;
}

.content-form-price {
    width: 50%;
    height: 65vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
}

button {
    width: 100% !important;
    margin-top: 3vh !important;
}

.dimensions-window {
    display: flex;
    grid-template-columns: space-between;
}

.header-options {
    font-size: 16px;
}

.nav-item-mod:hover {
    pointer-events: none;
}   

.welcome {
    position: absolute;
    display: block;
    padding: 0.5rem 1rem;
    margin-left: 35%;
}