.contain-styles-window h1 {
    text-align: center;
    margin-top: 4vh;
}

.list-window-styles {
    width: 70%;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contain-table {
    height: 60vh;
}

i:hover {
    cursor: pointer;
}