.contain-styles-window h1 {
    text-align: center;
    margin-top: 4vh;
}

.list-window-styles {
    width: 70%;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contain-table {
    height: 60vh;
    overflow: scroll;
}

.contain-table::-webkit-scrollbar {
    width: 7px;
}

.contain-table::-webkit-scrollbar-thumb {
    background: #11101d;
    border-radius: 10px;
}

i:hover {
    cursor: pointer;
}