.ListQuote {
    text-align: center !important;
    overflow: scroll;
    height: 52vh;
}

.ListQuote::-webkit-scrollbar {
    width: 7px;
}

.ListQuote::-webkit-scrollbar-thumb {
    background: #11101d;
    border-radius: 10px;
}

.footer-quote {
    padding: 0px 40px;
}

.footer-quote h5 {
    display: inline-block;
}

.value-quote {
    float: right;
}

.contain-elements-window h1 {
    text-align: center;
    margin-top: 4vh;
}

.list-elements-window {
    width: 70%;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contain-table {
    height: 60vh;
    overflow: scroll;
}

.contain-table::-webkit-scrollbar {
    width: 7px;
}

.contain-table::-webkit-scrollbar-thumb {
    background: #11101d;
    border-radius: 10px;
}

i:hover {
    cursor: pointer;
}

.contain-elements-confirm {
    text-align: center;
    margin-top: 20vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}